body {
  font-family: 'Poppins', 'Segoe UI', 'Arial', sans-serif;
  color: #818181;
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 28px;
  font-weight: bold;
}
h4 {
  font-size: 22px;
  font-weight: bold;
}
#about p {
  font-size: 20px;
}
.jumbotron {
  background-color: #7c609c;
  color: #fff;
  padding-top: 150px;
}
.wave {
  display: block;
  margin-top: -100px;
  margin-bottom: -200px;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.navbar {
  background-color: #7c609c;
  font-size: 16px;
  letter-spacing: 4px;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #7c609c;
  background-color: #fff;
}
/* Source: https://stackoverflow.com/a/46100537 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item {
  padding-left: 20px;
}
footer .material-icons {
  font-size: 48px;
  margin-bottom: 20px;
  color: #7c609c;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.carousel-inner img {
  max-width: 50%;
  height: auto;
  margin: auto;
  background-size: contain;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(75%);
}
.carousel-indicators li {
  filter: invert(75%);
}
.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
  color: #818181;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .carousel-inner img {
    min-width: 100%;
    height: auto;
  }
  .wave {
    display: block;
    margin-top: -50px;
    margin-bottom: -100px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
  .carousel-inner img {
    min-width: 100%;
    height: auto;
  }
}
